@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Purchase";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--- it will de displayed as 
    -https://localhost:7267/Customer/Purchase -->

<h1>Hello, This is Customer Purchase page view</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Sr No</th>
            <th scope="col">Customer Name</th>
            <th scope="col">Item Purchased on</th>
            <th scope="col">Item Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>1.1.23</td>
            <td>Description</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>2.3.22</td>
            <td>Thornton</td>
            <td>Description</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>3.5.21</td>
            <td>dasy</td>
            <td>Description</td>
        </tr>
    </tbody>
</table>